<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/gallery_style.css">
</head>
<body>
    <header>
        <nav style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <h3 style="font-size:21px;margin-left: 50px; font-weight: 600; color: white;">WayPoint</h3>
            <div>
                <a href="/api/home" style="color: white; ;  text-decoration: none;">Home</a>
                <a href="/api/gallery" style="color: white; text-decoration: none;">Gallery</a>
                <a href="/api/travels" style="color: white;  text-decoration: none;">Travel</a>
                <a href="/api/book" style="color: white;  text-decoration: none;">Book Now</a>
                <a href="/api/contact_us" style="color: white; margin-right: 500px;  text-decoration: none;">Contact</a>
            </div>
        </nav>
        <hr>

        <h1>Welcome to the Stunning Image Gallery</h1>
        <p>Explore a curated collection of breathtaking /images showcasing the beauty of nature, architecture, and life. Dive into the gallery below to get inspired!</p>
    </header>
    <div class="grid-wrapper">
        <div>
            <img src="/images/th23.jpg" alt="">
        </div>
        <div>
            <img src="/images/th24.jpg" alt="">
        </div>
        <div>
            <img src="/images/th(1).jpg" alt="">
        </div>
        <div>
            <img src="/images/th(2).jpg" alt="">
        </div>
        <div>
            <img src="/images/th25.jpg" alt="">
        </div>
        <div>
            <img src="/images/th(4).jpg" alt="">
        </div>
        <div>
            <img src="/images/th(5).jpg" alt="">
        </div>
        <div>
            <img src="/images/th(6).jpg" alt="">
        </div>
        <div>
            <img src="/images/th7.webp" alt="">
        </div>
        <div>
            <img src="/images/th10.jpg" alt="">
        </div>
        <div>
            <img src="/images/th11.jpeg" alt="">
        </div>
        <div>
            <img src="/images/th12.webp" alt="">
        </div>
        <div>
            <img src="/images/th13.jpg" alt="">
        </div>
        <div>
            <img src="/images/th14.jpg" alt="">
        </div>
        <div>
            <img src="/images/th15.jpg" alt="">
        </div>
        <div>
            <img src="/images/th16.jpg" alt="">
        </div>
        <div>
            <img src="/images/th17.jpg" alt="">
        </div>
        <div>
            <img src="/images/th18.jpg" alt="">
        </div>
        <div>
            <img src="/images/th19.jpg" alt="">
        </div>
        <div>
            <img src="/images/th20.jpg" alt="">
        </div>
        <div>
            <img src="/images/th21.jpg" alt="">
        </div>
        <div>
            <img src="/images/th22.jpg" alt="">
        </div>
        <div>
            <img src="/images/th23.jpg" alt="">
        </div>
        <div>
            <img src="/images/th24.jpg" alt="">
        </div>
    </div>
    <footer>
        <section class="footer">
            <div class="container">
                <div class="detail">
                    <h3>WayPoint</h3>
                    <p>Your gateway to unforgettable travel experiences. Join us as we explore the world together!</p>
                    <h5>get in touch</h5>
                    <a href="#">example@mail.com</a>
                    <div class="social">
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="about-us">
                    <h4>about us</h4>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our term</a></li>
                    <li><a href="#">careers <span>we're hiring!</span></a></li>
                    <li><a href="#">mission and values</a></li>
                    <li><a href="#">partnerships</a></li>
                </div>
                <div class="about-us">
                    <h4>help</h4>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">booking guide</a></li>
                    <li><a href="#">cancellation policy</a></li>
                    <li><a href="#">site map</a></li>
                </div>
                <div class="about-us">
                    <h4>Resources</h4>
                    <li><a href="#">newsletter</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">gallery</li>
                    <li><a href="#">offers</a></li>
                </div>
            </div>
            <div class="copyright">
                <div>
                    &copy;2024 - WayPoint, inc, all rights reserved
                </div>
                <div>
                    <a href="#">term & conditions</a>
                    <a href="#">privacy policy</a>
                </div>
            </div>
        </section>
        </footer>





