<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <title>Travel Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="/css/travel.css">
</head>

<body>
    <div id="arrow">
        <i class="fa fa-arrow-up"></i>
    </div>
    <nav>
        <div class="container">
            <div class="menu-par">
                <div class="logo-par">
                    <a href="/api/home">
                        <h2>WayPoint</h2>
                    </a>
                </div>
                
                <div id="toggle-btn">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="header-info-par">
                <h1 class="typewrite" data-period="2000"
                    data-type='["Happiness is closer than you think","Adventure Awaits, go find it.","Dont be a tourist, be a traveler."]'>
                </h1>
                <p>A vacation is full of opportunities to see new sights, meet new people, and experience different cultures</p>
                <a href="#" class="a">Read More</a>
            </div>
            <div class="video">
                <video id="video" autoplay loop muted>
                    <source src="/images/travel-video.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </header>
    <!-- Second Slides Section -->
    <section id="welcome-text">
        <div class="container">
            <h2>The Official Travel Site of the friendly Fiji Islands</h2>
            <p>when an unknown printer took a gallery of type and scrambled it to make a type speicmen</p>
        </div>
    </section>
    <!-- Slides Section Start-->
    <section id="slides-par">
        <div class="container">
            <div class="slides">
                <div class="slide_1 slide_2">
                    <div class="slide-info">
                        <p>Outer Islands</p>
                    </div>
                </div>
                <div class="slide_1 slide_3">
                    <div class="slide-info">
                        <p>Pacific Harbour and Beqa</p>
                    </div>
                </div>
                <div class="slide_1 slide_4">
                    <div class="slide-info">
                        <p>Savusavu & Surrounds</p>
                    </div>
                </div>
                <div class="slide_1 slide_5">
                    <div class="slide-info">
                        <p>Suncoast</p>
                    </div>
                </div>
                <div class="slide_1 slide_6">
                    <div class="slide-info">
                        <p>Taveun1</p>
                    </div>
                </div>
                <div class="slide_1 slide_7">
                    <div class="slide-info">
                        <p>Yasawa Islands</p>
                    </div>
                </div>
                <div class="slide_1 slide_8">
                    <div class="slide-info">
                        <p>Nadi</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slides Section Start-->

    <!-- Book Now Section Start -->
    <section id="book">
        <div class="container">
            <div class="book-content-par">
                <div class="book-counter">
                    <h3>Book Now</h3>
                    <div id="clockdiv">
                        <div>
                            <span class="days"></span>
                            <div class="smalltext">Days</div>

                        </div>
                        <div>
                            <span class="hours"></span>
                            <div class="smalltext">Hours</div>

                        </div>
                        <div>
                            <span class="minutes"></span>
                            <div class="smalltext">Minutes</div>

                        </div>
                        <div>
                            <span class="seconds"></span>
                            <div class="smalltext">Seconds</div>

                        </div>
                    </div>
                </div>
                <div class="book-form">
                    <form>
                        <input type="text" id="fname" name="firstname" placeholder="Your Name...">
                        <input type="text" id="lname" name="lastname" placeholder="Your Last Name...">
                        <select name="country" id="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="india">USA</option>
                        </select>
                        <textarea name="subject" id="subject" placeholder="Write something..."
                            style="height: 200px;"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Book Now Section End -->



    





    <section class="journey__container">
        <div class="section__container">
          <h2 class="section__title">Best Destinations to Visit in India</h2>
          <p class="section__subtitle"></p>
          <div class="journey__grid">
            <div class="country__card">
              <img src="/images/bg1.webp" alt="country" />
              <div class="country__name">
                <i class="ri-map-pin-2-fill"></i>
                <span>Ooty</span>
              </div>
            </div>
            <div class="country__card">
              <img src="/images/bg2.jpg" alt="country" />
              <div class="country__name">
                <i class="ri-map-pin-2-fill"></i>
                <span>Goa</span>
              </div>
            </div>
            <div class="country__card">
              <img src="/images/bg3.jpg" alt="country" />
              <div class="country__name">
                <i class="ri-map-pin-2-fill"></i>
                <span>Kashmir</span>
              </div>
            </div>
            <div class="country__card">
              <img src="/images/bg4.jpg" alt="country" height="325"/>
              <div class="country__name">
                <i class="ri-map-pin-2-fill"></i>
                <span>Kerala</span>
              </div>
            </div>
            <div class="country__card">
              <img src="/images/bg5.jpg" alt="country" />
              <div class="country__name">
                <i class="ri-map-pin-2-fill"></i>
                <span>SouthIndia</span>
              </div>
            </div>
            <div class="country__card">
              <img src="/images/bg6.jpg" alt="country" height="340"/>
              <div class="country__name">
                <i class="ri-map-pin-2-fill"></i>
                <span>Rajasthan</span>
              </div>
            </div>
          </div>
        </div>
      </section>




      

      <section class="game-section">
        <h2 class="line-title">International Destinations!</h2>
        <div class="owl-carousel custom-carousel owl-theme">
          <div class="item active" style="background-image: url(/images/bg7.jpg);">
            <div class="item-desc">
              <h3>NewYork</h3>
              
            </div>
          </div>
          <div class="item" style="background-image: url(/images/bg8.jpg);">
            <div class="item-desc">
              <h3>Europe</h3>
              
            </div>
          </div>
          <div class="item" style="background-image: url(/images/bg10.jpg);">
            <div class="item-desc">
              <h3>Bali</h3>
             
            </div>
          </div>
          <div class="item" style="background-image: url(/images/bg11.jpg);">
            <div class="item-desc">
              <h3>Maldives</h3>
              
            </div>
          </div>
          <div class="item" style="background-image: url(/images/bg12.jpg);">
            <div class="item-desc">
              <h3>Dubai</h3>
              
            </div>
          </div>
          <div class="item" style="background-image: url(/images/bg13.webp);">
            <div class="item-desc">
              <h3>Thailand</h3>
              
            </div>
          </div>
        </div>
        </div>
      </section>


    <footer>
        <section class="footer">
            <div class="container">
                <div class="detail">
                    <h3>WayPoint</h3>
                    <p>Your gateway to unforgettable travel experiences. Join us as we explore the world together!</p>
                    <h5>get in touch</h5>
                    <a href="#">example@mail.com</a>
                    <div class="social">
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="about-us">
                    <h4>about us</h4>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our term</a></li>
                    <li><a href="#">careers <span>we're hiring!</span></a></li>
                    <li><a href="#">mission and values</a></li>
                    <li><a href="#">partnerships</a></li>
                </div>
                <div class="about-us">
                    <h4>help</h4>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">booking guide</a></li>
                    <li><a href="#">cancellation policy</a></li>
                    <li><a href="#">site map</a></li>
                </div>
                <div class="about-us">
                    <h4>Resources</h4>
                    <li><a href="#">newsletter</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">gallery</li>
                    <li><a href="#">offers</a></li>
                </div>
            </div>

            <div class="copyright">
                <div>
                    &copy;2024 - WayPoint, inc, all rights reserved
                </div>
                <div>
                    <a href="#">term & conditions</a>
                    <a href="#">privacy policy</a>
                </div>
            </div>
        </section>
    </footer>

    <script src="/css/jquery-3.1.1.min.js"></script>
    <script src="/css/owl.carousel.min.js"></script>
    <script src="/css/extrenaljq.js"></script>
    <script src="/css/travel.js"></script>
</body>

</html>